{% extends "layout.html" %}

{% block title %} 
    Home
{% endblock %}

{% block body %} 
    <h1><u>Welcome, <b style="color: rgb(107, 177, 38);">{{ username }}</b></u></h1>
    <p><span id="logo">Mental Massage</span> is here to help you with your mental health, through a small game, and a chatbot.</p>
    <br><br><br><br><br>
    <p id="disclaimer">Remember, we are not professionals, and do not rely on our site for a proper medical diagnosis. Go to a reliable medical practitioner for help.</p>
{% endblock %}